.panel-show {
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-show .panel-body {
    padding: 1px;
}

.chart_fgp :active {
    cursor: move;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes offline {
    from {
        color: green;
    }
    to {
        color: red;
    }
}

/* Standard syntax */
@keyframes offline {
    from {
        color: green;
    }
    to {
        color: red;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes online {
    from {
        color: red;
    }
    to {
        color: green;
    }
}

/* Standard syntax */
@keyframes online {
    from {
        color: red;
    }
    to {
        color: green;
    }
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 3px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.9s infinite ease-in-out;
    animation: sk-stretchdelay 1.9s infinite ease-in-out;
}

.spinner .rect2 {
    margin-left: 2px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.7s;
    animation-delay: -1.7s;
    margin-left: 2px;
}

.spinner .rect4 {
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    margin-left: 2px;
}

.spinner .rect5 {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    margin-left: 2px;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.05)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.line-chart-graph {
    left: 10px;
    right: 10px;
}

.line-chart-graph .dygraph-legend > span {
    display: none;
}

.line-chart-graph .dygraph-legend > span.highlight {
    display: inline;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.relationBtn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
}